---
# Bot wide settings
general:
    # REQUIRED: the bot API token assigned by BotFather
    token:  YOUR_TOKEN_ID_HERE

# Command specific settings

# Optional: the server to be queried with the /minecraft command
minecraft:
    server:     my.minecraft.server
    port:       25565
    restrict:   [] # Optional, restrict use of the command to these groups
